<h1>Reading Log</h1>
<a href="{% url 'create-book' %}">Add Book</a>

<table>
    <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Started</th>
        <th>Progress</th>
        <th>Recommended</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for book in reading_list %}
        {% if book.started_reading %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.started_reading }}</td>

            {% if book.finished_reading %}
                <td>Finished</td>
            {% elif book.current_page == None %}
                <td>-- / --</td>
            {% else %}
                <td>{{ book.current_page }} / {{ book.pages }}</td>
            {% endif %}

            {% if book.recommended == False %}
                <td>No</td>
            {% else %}
                <td>Yes</td>
            {% endif %}

            <td><a href="{% url 'book' book.id %}">View</a></td>
            <td><a href="{% url 'update-book' book.id %}">Edit</a></td>
            <td><a href="{% url 'delete-book' book.id %}">Delete</a></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>

<h3>Waiting to Read</h3>
<table>
    <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Started</th>
        <th>Progress</th>
        <th>Recommended</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for book in reading_list %}
        {% if book.started_reading == None %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>Not Yet</td>

            {% if book.finished_reading %}
                <td>Finished</td>
            {% elif book.current_page == None %}
                <td>-- / --</td>
            {% else %}
                <td>{{ book.current_page }} / {{ book.pages }}</td>
            {% endif %}

            {% if book.recommended == False %}
                <td>No</td>
            {% else %}
                <td>Yes</td>
            {% endif %}

            <td><a href="{% url 'book' book.id %}">View</a></td>
            <td><a href="{% url 'update-book' book.id %}">Edit</a></td>
            <td><a href="{% url 'delete-book' book.id %}">Delete</a></td>
        </tr>
        {% endif %}
    {% endfor %}

</table>