{% extends 'base.html' %}

{% block title %}
{% if 'update' in request.path %}
<title>Update Book</title>
{% else %}
<title>Add a Book</title>
{% endif %}
{% endblock title %}

{% block content %}

{% if 'update' in request.path %}
    <h3>Update Book</h3>
{% else %}
    <h3>Add a Book</h3>
{% endif %}

<div class="form-div">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" style = "font-size:18px">
    </form>
</div>

{% endblock content %}