<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/format.css' %}">
    {% block title %}

    {% endblock %}
</head>
<body>
<header>
    <h2>Reading Log</h2>
</header>

<div class="container">
    <div class="left">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'reading-list' %}">Home</a></li>
                <li><a href="{% url 'create-book' %}">Add Book</a></li>
                <li><a href="{% url 'pomodoro' %}">Pomodoro Timer</a></li>
                <li><a href="{% url 'update-password' %}">Update Password</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>

                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'user-login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="right">
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</div>


<footer>
    <h4>By Sachin Limbu</h4>
</footer>
</body>


</html>